%p#notice= notice
%h2{style: 'text-align: center;'}
  TODOR
%br/
.row
  .form-group
    .col-sm-7
      %input.form-control#new-task{placeholder: 'task: Do Laundry...'}
    .col-sm-2
      %input.form-control#new-participant{placeholder: 'by: -Kim Kardashian'}
    .col-sm-2
      %input.form-control#new-date{disabled: true, placeholder: 'date: 31/2/2012'}
    .col-sm-1
      %button.btn.btn-info#submit-new-task
        Submit
%br
- if @todos.size != 0
  %table
    %h3{style: 'text-decoration: underline;'}
      to do
    %tbody
      - @todos.each do |todo|
        %tr
          %td.col-sm-1.check
            %input.form-check-input{type: 'checkbox', id: "#{todo.id}"}
          %td.col-sm-8
            = todo.task
          %td.col-sm-2
            = todo.participant
          %td.col-sm-2
            = todo.due_date
%br
- if @done.size != 0
  %table
    %h3{style: 'text-decoration: underline;'}
      done
    %tbody
      - @done.each do |todo|
        %tr
          %td.col-sm-1.bin
            %span.fa.fa-trash{id: "#{todo.id}"}
            -# %td= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' }
          %td.col-sm-8{style: 'text-decoration: line-through;'}
            = todo.task
          %td.col-sm-2
            = todo.participant
          %td.col-sm-2
            = todo.due_date
